fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic[email]
email-validator
fastapi-mail
pydantic-settings
redis
celery[redis]
flower
python-dotenv
stripe
asyncpg
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
aiofiles
ruff